# OS
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Environments
.env
.env.*
.venv*/
venv/
env/
.conda/
.mamba/

# Build & packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Testing / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.cache/

# Type checkers / linters
.mypy_cache/
.pyre/
.pytype/
.pylint.d/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Local data artifacts
*.db
*.sqlite
*.sqlite3

# Binaries
*.so
*.dylib
*.dll


RAGLLM_notebook/hf_cache/
YOLO_notebook/data/maritime/